body {
background:#EB7663;
font-family: rockwell;
text-align: center;
background-color: white;
}
h2 {
color: black;
font-size: 35px;
padding: 2% ;
background-color: #76a5af;
}

h1 {
font-weight: bold;
font-size: 60px;
padding: 5% ;
background-color: #76a5af;
}
div31 {
position: absolute;
left: 2%;
top: 0%;
}

div32 {
font-size: 150%;
}

div33 {
font-size: 90%;
}

div34{
height: 200px
width: 200px;
top: -60%;
left: 10%;
}
div18{
top:
}

#statement{
color: #e69138;
}

#Q1, #Q2, #Q3, #Q4, #Q5, #Q6, #Q7{
font-size:150%;
}
#money{
height: 370px;
width: 370px;
}
button{
justify-content: center;
align-items: center;
padding-top: 5px;
}

#beginSurv, #submitQ1, #submitQ2, #submitQ3, #submitQ4, #submitQ5, #submitQ6, #submitQ7{
color: #76a5af;
font-family: rockwell;
font-size: 15px;

}
div35{
    font-size: 150%;
    color: black;
    font-size: 35px;
}

div36{
    color: #76a5af;
}
div39{
  font-size: 25px;
}
