body{
  background:#EB7663;
  font-family: rockwell;
  text-align: center;
  background-color: white;
}
h2{
  color: #159797;
}

h1{
  font-weight: bold;
  font-size: 60px;
  padding: 5% ;
  background-color: #159797;
}
